body {
  background:white;
  text-align: center;
  font-weight: bold;    
}

body p {
   font-size: 30px;
}

.main {
  margin: 0 auto;
  display: inline-block;
}

.title {
  margin: 10px;
}

.timerContainer
{
  background-color: black;
  border: 2px solid green;
  min-width: 230px;
  max-width: 230px;
  width: 75%;
  height: 30px; 
  line-height: 30px;
  text-align: 50%;
  background-color: black;
  color: green;
  border-radius: 15px;
  font-size: 30px;
  font-weight: bolder;
  padding: 6px;
  margin: 5px auto 5px auto;
}

.tile {
  line-height: 50px;
  min-width: 50px;
  min-height: 50px;
  background-size: 100% 100%;
  border: 3px solid black;
  margin: 3px;
}

.speedIcon {
  vertical-align: 50%;  
  background-image: url('./images/settings/timer.png');
  position: relative;

}

.gridIcon {
  background-image: url('./images/settings/grid.png');
}

.deckIcon {

}

.playerIcon {
  background-image: url('./images/settings/player1.png');
}

.grid {
  display: flex;
  justify-content: center;
}

.gameGrid {
  border: thick solid black;
}

.centered{
  margin: 0 auto;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.ftaDisplay{
  width:190px;
  float: left;
  height: 85px;
  border: thick solid black;
  background-color: #01440a;
  border-radius: 12px;
  margin: 10px;
  color:green;

}

.left {
  float: left;
}



.cardFoundFace
{
  width: 85%;
  height: 30px; 
  line-height: 30px;
  border: 3px solid black;
  background-color: black;
  color: green;
  border-radius: 10px;
  position: relative;
  margin: 0 auto;
  font-size: 30px;
  font-weight: bolder;
  padding: 4px;
  top: 5px;
  bottom: 5px;

}

.attemptsFace
{
  width: 85%;
  height: 30px; 
  line-height: 30px;
  border: 3px solid black;
  background-color: black;
  color: green;
  border-radius: 10px;
  position: relative;
  margin: 0 auto;
  font-size: 30px;
  font-weight: bolder;
  padding: 4px;
  top: 5px;
  bottom: 5px;

}



.currentPlayer{
  text-align: center;
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  height: 100px;
}

.resetButton{
  margin: 0 auto;
  margin-top:20px;
  background-color: grey;
  border: 5px solid black;
  border-radius: 20px;
  width: 300px;
}

.avatar {
  min-width: 100px;
  min-height: 100px;
  max-width: 100px;
  max-height: 100px;
  background-size: 100% 100%;
}
.playerOne {
  background-image: url("http://png-3.findicons.com/files/icons/175/halloween_avatar/300/mike.png");
}

.playerTwo{
  background-image: url("http://png-1.findicons.com/files/icons/175/halloween_avatar/300/alien.png");
}

.arrow {
  background-image: url("https://cdn2.iconfinder.com/data/icons/snipicons/5000/circle-arrow-right-512.png");
}
.arrowLeft{
  transform:  scaleX(-1);
}

.arrowRight{
  transform:  scaleX(1);
}

