body {
  background-color:#269;
background-image: linear-gradient(rgba(55,131,212,.5) 2px, transparent 2px),
linear-gradient(90deg, rgba(55,131,212,.5) 2px, transparent 2px),
linear-gradient(rgba(55,131,212,.3) 1px, transparent 1px),
linear-gradient(90deg, rgba(55,131,212,.3) 1px, transparent 1px);
background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
  text-align: center;
  font-weight: bold;    
}

.main {
  margin: 0 auto;
  display: inline-block;
}

.title {
  margin: 10px;
  color:white;
}

.timerContainer
{
  background-color: rgba(50,50,255,.6);
  border: 2px solid rgba(55,131,255,1);
  min-width: 230px;
  max-width: 230px;
  width: 75%;
  height: 30px; 
  line-height: 30px;
  text-align: 50%;
  color: rgba(55,131,255,1);;
  border-radius: 15px;
  font-size: 30px;
  font-weight: bolder;
  padding: 6px;
  margin: 5px auto 5px auto;
}

.tile {
  width: 54px;
  height: 75px;
  background-size: 100% 100%;
  border: 3px solid black;
  margin: 3px;
  border-radius: 10px;
  background-image: url('./images/settings/deck.png');
}

.settings {
  line-height: 50px;
  min-width: 50px;
  min-height: 50px;
  background-size: 100% 100%;
  margin: 3px;
  border:thick solid black;
}

.speedIcon {
  vertical-align: 50%;  
  background-image: url('./images/settings/timer.png');
  background-color: white;

}

.gridIcon {
  background-image: url('./images/settings/grid.png');
  background-color:green;
}

.messageBar {
  color: white;
  font-weight: bolder;
}

.grid {
  display: flex;
  justify-content: center;
}


